*~
\#
bin/
obj/
*.mod
*.smod
*.so
*.txt
DTESTING/
DTEST/
build/
src/*.egg-info
*.egg-info
iteration*
doc/html
docs/html
settings.json
example/**/database*.xyz
**/POSCAR*
iteration/
*.traj
*.png
*.param
fort.*
*.o
*.out
*.dat
*.err
*.e
*.log
*.agr
*.pdf
*.eps
*.pyc